---
layout: archive
---

{{ content }}

<p>O projeto Enciclopédia Materna é resultado de um esforço de compilar referências com embasamento científico e atualizadas sobre maternidade em uma ótica feminista.</p>
<p>Aqui você encontra organizadas referências sobre assuntos como parto humanizado, gestação, nutrição infantil, amamentação e cultura do desmame, bicos artificiais, desenvolvimento infantil, entre outros. Este projeto é atualizado constantemente.</p>

<h2>Como usar este site</h2>
Este site conta com informações em sua maioria de órgãos nacionais e internacionais, pesquisas científicas e trabalho de ativistas de amamentação. As publicações contém *links* direcionando para todas as referências e, quando possível, resumos rápidos das informações principais de cada uma delas.

O site está organizado da seguinte forma: Há um conjunto de publicações com referências listadas e resumidas, organizadas por assuntos. É possível vizualizar todas elas na aba "Referências", organizadas por assunto na aba "Assuntos", ou buscar por um tópico específico na opção "Busca".

O projeto atualmente contém os seguintes assuntos:
<ul>
  <li>Bicos artificiais</li>
  <li>Nutrição e desenvolvimento</li>
  <li>Primeiros Socorros e Emergências</li>
  <li>Leis e órgãos públicos</li>
  <li>Amamentação</l>
  <li>Desmame</li>
  <li>Telas</li>
  <li>Psicologia infantil</li>
  <li>Natureza e consumo</li>
  <li>Desfralde e higiene natural</li>
  <li>Parto</i>
  <li>Indicações de Perfis e Podcasts</li>
  <li>Indicações de Vídeos</li>
  <li>Indicações de Filmes</li>
  <li>Indicações de Livros</li>
</ul>

O projeto conta também com artigos em que se discute, de forma autoral, assuntos pontuais. Eles podem ser lidos na aba "Artigos".

<h2>Como contribuir com o projeto</h2>

Além de utilizar para consulta pessoal, você pode divulgar este projeto para mais pessoas e também pode enviar referências e sugestões de temas. Entre em contato comigo através dos links ao lado, me enviando um email ou mensagem pelo instagram.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
