---
layout: archive
---

{{ content }}

O projeto Enciclopédia Materna é o resultado de um esforço de compilar referências com embasamento científico e atualizadas sobre diversos assuntos pertinentes para uma maternidade sob ótima feminista. Aqui você encontra organizadas referências sobre assuntos como parto humanizado, gestação, nutrição infantil, amamentação e cultura do desmame, bicos artificiais, desenvolvimento infantil, entre outros. Este projeto é atualizado constantemente com novas referências.

<h2>Como usar este site</h2>

Este site conta com informações em sua maioria de órgãos nacionais e internacionais, pesquisas científicas e trabalho de ativistas de amamentação. As publicações contém *links* direcionando para todas as referências e, quando possível, resumos rápidos das informações principais de cada uma delas.

O site está organizado da seguinte forma: Há um conjunto de publicações com referências listadas e resumidas, organizadas por assuntos. É possível vizualizar todas elas na aba "Referências", organizadas por assunto na aba "Assuntos", ou buscar por um tópico específico na opção "Busca".

O projeto atualmente contém os seguintes assuntos:
<ul>
  <i>Bicos artificiais</i>
  <i>Nutrição e desenvolvimento</i>
  <i>Primeiros Socorros e Emergências</i>
  <i>Leis e órgãos públicos</i>
  <i>Amamentação</i>
  <i>Desmame</i>
  <i>Telas</i>
  <i>Psicologia infantil</i>
  <i>Natureza e consumo</i>
  <i>Desfralde e higiene natural</i>
  <i>Parto</i>
  <i>Indicações de Perfis e Podcasts</i>
  <i>Indicações de Vídeos</i>
  <i>Indicações de Filmes</i>
  <i>Indicações de Livros</i>
  <i></i>
</ul>

O projeto conta também com artigos em que se discute, de forma autoral, assuntos pontuais. Eles podem ser lidos na aba "Artigos".

<h2>Como contribuir com o projeto</h2>

Além de utilizar para consulta pessoal, você pode divulgar este projeto para mais pessoas e também pode enviar referências e sugestões de temas. Entre em contato comigo através dos links ao lado, me enviando um email ou mensagem pelo instagram.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
