---
layout: archive
---
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="https://freitasamanda.github.io/enciclopediamaterna/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://freitasamanda.github.io/enciclopediamaterna/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://freitasamanda.github.io/enciclopediamaterna/icons/favicon-16x16.png">
  <link rel="manifest" href="https://freitasamanda.github.io/enciclopediamaterna/icons/ite.webmanifest">
  <link rel="mask-icon" href="https://freitasamanda.github.io/enciclopediamaterna/icons/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="https://freitasamanda.github.io/enciclopediamaterna/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#f3f6f6">
  <meta name="msapplication-config" content="https://freitasamanda.github.io/enciclopediamaterna/icons/browserconfig.xml">
  <meta name="theme-color" content="#f3f6f6">
  </head>
{{ content }}

<img src="https://raw.githubusercontent.com/freitasamanda/enciclopediamaterna/main/images/header.png" alt="Header">

<p>O projeto Enciclopédia Materna é resultado de um esforço para compilar referências com embasamento científico e atualizadas sobre maternidade de uma perspectiva feminista.</p>
<p>Aqui você encontra informações sobre assuntos como parto humanizado, gestação, nutrição infantil, amamentação e cultura do desmame, bicos artificiais, entre outros. Este projeto é atualizado constantemente.</p>
<p>As informações vêm, em sua maioria, de órgãos nacionais e internacionais, artigos científicos e trabalho de ativistas de amamentação e maternidade.</p>
<p>Todos os posts contém <i>links</i> diretamente para as fontes de referências.</p>

<h1>Como usar este site</h1>
<p>O site está organizado em duas categorias de conteúdos: listas de referências, organizadas por assuntos e atualizadas constantemente, acompanhadas com breve resumo, e artigos autorais discutindo pautas específicas, postados esporadicamente.</p>
<p>É possível navegar pela lista completa de referências no menu "Referências", ou navegar por assunto no menu "Assuntos"</p>

<p>O projeto atualmente contém os seguintes assuntos:</p>
<ul>
  <li>Bicos artificiais</li>
  <li>Nutrição e desenvolvimento</li>
  <li>Primeiros Socorros e Emergências</li>
  <li>Leis e órgãos públicos</li>
  <li>Amamentação</li>
  <li>Desmame</li>
  <li>Telas</li>
  <li>Psicologia infantil</li>
  <li>Natureza e consumo</li>
  <li>Desfralde e higiene natural</li>
  <li>Parto</li>
  <li>Indicações de Perfis e Podcasts</li>
  <li>Indicações de Vídeos</li>
  <li>Indicações de Filmes</li>
  <li>Indicações de Livros</li>
</ul>

<h1>Como contribuir com o projeto</h1>
<p>Você pode divulgar o projeto em suas redes sociais, para que as informações aqui reunidas alcancem mais pessoas.</p>
<p>Caso tenha uma sugestão de tema ou de referência, ou queira participar do projeto de outras formas, fique à vontade para entrar em contato comigo nos <i>links</i> ao lado.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Posts Recentes"}}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}